<div class="col-md-4 ">
  <div class="featured-item" style="background-image: url({{item.image}}); background-position: center">
    <div class="featured-content">
        <h3>{{item.name}}</h3>
    </div>
  </div>
</div>
