body {
  font-family: 'Lato', sans-serif;
  background-color: #E0E2DB;
  color: #191716;
}

/*header*/

.jumbotron {
    position: relative;
    background: #000 url("https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=74553159742c7cf05c6eb04baabc408c") center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    min-height: 400px;
    margin-bottom: 0;
}

.jumbotron a {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 8em;
}

.jumbotron a:hover {
  text-decoration: none;
}

.text-background {
  background-color: rgba(230,175,46, 0.6);
  padding: 10px;
  color: #E0E2DB;
}

/*navbar*/

.navbar-nav a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
}

/*display items*/

.featured-item {
  min-height: 300px;
}

.featured-content h3 {
  background-color: rgba(230,175,46, 0.6);
  /*color: white;*/
  padding: 10px;
  align-content: flex-end;
}

/*blogpost*/

.fake-blog {
  margin-top: 20px;
}

.fake-blog h2 {
  font-family: 'Fjalla One', sans-serif;
}

/*footer*/

.footer {
  margin-top: 50px;
  min-height: 250px;
  background-color: #191716;
  color: #E0E2DB;
}

.footer-right {
  text-align: right;
}

.footer-left {
  text-align: left;
}

.footer-content {
  padding-top: 50px;
  font-size: 1.5em;
}

.login {
  padding-right: 5px;
}

.footer a {
  /*font-family: 'Fjalla One', sans-serif;*/
  color: #E0E2DB;
  /*font-size: 8em;*/
}

.footer a:hover {
  text-decoration: none;
}

/*https://coolors.co/191716-aaaaaa-ece2d0-e6af2e-e0e2db*/
