<div class="row category-description">
  <h3>High Quality Travel Gear.</h3>
  <p> Essential travel accessories for safety and comfort that will make your travel experience more enjoyable and stress-free</p>
  <p>
    Travel accessories are all those “little things” that can be some of the most important keys to a smooth journey. They can often be the things you always wish you had packed, but always seem to forget until you're already on your way. From items that make your voyage more comfortable to products that make your stuff more easily accessible during your trip, the right accessories can make your travel so much easier – and stress-free.
  </p>
  <p>
    Whether you need help keeping your electronics safe in a laptop sleeve, your luggage secure when rolling through a train station with a travel lock, or an RFID blocking wallet or money belt to keep your information yours, or just some to-die-for ear plugs and a pillow for your flight, we've got you covered. Our travel accessories guide gives you all the information you need to be the most well-prepared traveler you know. (Your flight seat mates will all be jealous of your clean and cozy travel blanket and pillow.)
  </p>
  <h4>SHOP OUR CURATED SELECTION:</h4>
</div>

<div class="row">
  {{#each model as |item|}}
    {{item-tiles item=item}}
  {{/each}}
</div>
